@{
    ViewBag.Title = "Success!";
}

<div class="center-text bold-text">
    <h2>Fuck yeah, you're all set!</h2>
    <h2>Now when you browse Facebook any references to Twitter handles will show a box like this:</h2>
</div>
